<h1>Welcome, <%= @owner.name %></h1>

<p>
  Things to do on this page:
</p>
<ul>
  <li>Click a cat to "log in" as that cat</li>
  <li>Add a cat</li>
</ul>

<table>
  <tr>
    <th>Cat</th>
    <th>Most recent status</th>
  </tr>
  <% @owner.cats.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= cat.status.last.status if cat.status.length > 0 %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Add a Cat", new_owner_cat_path(@owner.id), method: :get %>
<%= button_to "Edit Account", edit_owner_path(@owner.id), method: :get %>
<%= button_to "Delete Account", owner_path(@owner.id), method: :delete %>
