<h1>Welcome, <%= @owner.name %></h1>

<table>
  <tr>
    <th>Cat</th>
    <th>Most recent status</th>
    <th>Edit Cat</th>
    <th>Delete Cat</th>
  </tr>
  <% @owner.cats.each do |cat| %>
    <tr>
      <td><%= link_to cat.name, owner_cat_path(cat.id, cat.owner_id) %></td>
      <td><%= cat.status.last.status if cat.status.length > 0 %></td>
      <td><%= button_to "Edit", edit_owner_cat_path(@owner.id, cat.id), method: :get %></td>
      <td><%= button_to "Delete", owner_cat_path(@owner.id, cat.id), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Add a Cat", new_owner_cat_path(@owner.id), method: :get %>
<%= button_to "Edit Account", edit_owner_path(@owner.id), method: :get %>
<%= button_to "Delete Account", owner_path(@owner.id), method: :delete %>
