<!DOCTYPE html>
<html>
<head>
  <title>Catbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header">
    <%= render partial: "log_in" %></div>
    <%= image_tag("catbookheader.jpg", class: "header_img") %>
  </header>

  <div>
    <%= yield %>
  </div>
</body>
</html>
